.background-day {
    position: absolute;
    z-index: -1;
    background: linear-gradient(#199df5, #8bc5eb);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bg-day-sun {
    position: absolute;
    top: 100px;
    left: 300px;
    width: 100px;
    height: 100px;
    background: #eb6e4b;
    border-radius: 50%;
    z-index: -1;
}

.bg-day-forest {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    z-index: 0;
    object-fit: cover;
    /* transform: scaleX(1), scaleY(1); */
}

.x1 {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 600px;
    z-index: 0;
    animation: animateCloud 50s linear infinite;
}

.x2 {
    position: absolute;
    top: 200px;
    left: 150px;
    max-width: 600px;
    z-index: 0;
    animation: animateCloud 35s linear infinite;
}

.x3 {
    position: absolute;
    top: 50px;
    left: 600px;
    max-width: 600px;
    z-index: 0;
    animation: animateCloud 60s linear infinite;
}

.x4 {
    position: absolute;
    top: 20px;
    left: 600px;
    max-width: 600px;
    z-index: 0;
    animation: animateCloud 50s linear infinite;
    animation-delay: -20s;
}

.x5 {
    position: absolute;
    top: 100px;
    left: 400px;
    max-width: 600px;
    z-index: 0;
    animation: animateCloud 40s linear infinite;
    animation-delay: -5s;
}

.x6 {
    position: absolute;
    top: 20px;
    right: 10px;
    max-width: 600px;
    z-index: 0;
    animation: animateCloud 20s linear infinite;
    animation-delay: -10s;
}

@keyframes animateCloud {
    0% {
        transform: translateX(-100%) scale(1);
    }

    100% {
        transform: translateX(400%) scale(1);
    }
}
