.background-night {
    position: absolute;
    z-index: -1;
    background: linear-gradient(#111425, #3751e0);
    width: 100%;
    height: 100vh;
}

.bg-night-moon {
    position: absolute;
    top: 100px;
    left: 300px;
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    z-index: -1;
}

.bg-night-moon::after {
    content: "";
    position: absolute;
    top: -15px;
    left: 15px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#111425, #3751e0);
    background-attachment: fixed;
}

.bg-night-forest {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    z-index: 0;
    object-fit: cover;
    /* transform: scaleX(1), scaleY(1); */
}

/* day

.bg-day-sun {
    position: absolute;
    top: 100px;
    left: 300px;
    width: 100px;
    height: 100px;
    background: rgb(226, 126, 32);
    border-radius: 50%;
    z-index: -1;
} */
