.weatherInfo-container {
    margin-top: 50px;
    max-width: 600px;
    border-radius: 20px;
    margin: 40px auto;
    background-color: rgba(50, 50, 70, 0.2);
    transition: all 2s ease;
}

.location-box {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.date-box {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
    text-align: center;
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.temp-box {
    position: relative;
    display: inline-block;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;

    padding: 15px 25px;

    color: #fff;
    font-size: 102px;
    font-weight: 900;

    text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
    text-align: center;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}
